.pluto-top-bar {
    position: sticky;
    top: 0;
    background: #FFF;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.pluto-top-bar > *, .pluto-top-bar > .dropdown > button {
    margin-top: 0.3rem;
    display: inline-block;
}

.pluto-editor-header-btn * {
    margin: 0;
}

.pluto-bottom-bar {
    background: #FFF;
    padding: 0.5rem;
}

.pluto-bottom-bar .card {
    padding: 0.3rem;
}

a {
    cursor: pointer;
}

#pluto-editor {
    outline: none;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#import {
    display: none;
}