.pluto-top-bar {
    background: #FFF;
    padding: 0.5rem;
}

.pluto-top-bar .dropdown {
    display: inline-block;
}

.pluto-bottom-bar {
    margin-bottom: 0.5rem;
}

.pluto-bottom-bar .card {
    padding: 0.3rem;
}

#pluto-editor {
    outline: none;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
}

#import {
    display: none;
}