 /* TODO: Add display:block and text-overflow on all changing text values in toolbar */

#pluto-editor-toolbar {
    position: fixed;
    bottom: 1rem;
    left: 0;
    margin: 1rem 2rem;
    text-align: center;
    z-index: 1000;
}

#pluto-editor-toolbar .btn {
    border: none;
}

#pluto-name-container {
    padding-top: 3rem;
}

#pluto-name-container .h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pluto-editor {
    outline: none;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

#pluto-markdown-textarea {
    height: 100%;
    width: 100%;
    resize: none;
    padding: 1rem;
    font-family: Menlo,Consolas,Monaco,Liberation Mono,Lucida Console,monospace;
}

/* Small screen layout */
@media (max-width: 575.98px), (max-height: 500px) {

    #pluto-editor,
    #pluto-name-container {
        padding-top: 1.5rem;
    }

    #pluto-editor-toolbar {
        width: 100%;
        bottom: 0;
        margin: 0;
        padding: 0;
        padding-bottom: calc(0px + env(safe-area-inset-bottom)); /* Don't let home button on mobile devices cover up toolbar */
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
    }

    #pluto-editor {
        padding-bottom: calc(6em + env(safe-area-inset-bottom)); /* Don't let home button on mobile devices cover up toolbar */
    }

}